body {
    font-family: 'Baloo Bhai', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('damir-spanic-Cs73R4ZO50E-unsplash.jpg');
}
.
    .left {
        display: inline-block;
        position: absolute;
        left: 60px;
        top: 20px;
    }
    .left img{
        width: 79px;
        filter: invert(100%)
    }
    .left div {
        line-height: 19px;
        font-size: 20px;
        text-align: left;
        color: blue;
        font: bold;
    }
        
.right{
    position: absolute;
        right: 34px;
        top: 43px;
        display: inline-block;

}
.btn{
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color:  rgb(17, 26, 70);
}
.mid
{
        display: block;
        text-align: center;
        margin: 29px auto;

}
.navbar{
    display: inline-block;
    background-color:red;
    border-radius: 12px;
    
}
.navbar li{
    display: inline-block;
    font-size: 25px;
    
   
    
}
.navbar li a

{
    text-decoration: none;
    color: white;
padding: 34px 23px;

}  
.navbar li a:hover,
    .navbar li a.active {
        text-decoration: underline;
        color: grey;

    }
    .container
    {
        border-color: white;
        margin: 106px 80px;
        padding: 75px;
        width: 33%;
        border-radius: 28px;
    }
    .form-group input{
        font-size: 23px;
        text-align: center; auto
        display: block;
        width: 508px;
        padding: 6px;
        margin: 11px;  
        border-radius:10px;  
    }
    .container h1{
        text-align: center;
    }
    .container button {
        display: block;
        width: 74%;
        margin: 20px auto;
    }
    